{% extends "main.html" %}

{% block content %}
{{ super() }}

<div class="card" style="margin-bottom: 1.5em;">
    <div class="card-header">
      Shortname: {{ page.meta.shortname }}
    </div>
    <div class="card-body">
        {{ page.meta.description }}
    </div>
</div>

<div class="card" style="margin-bottom: 1.5em;">
  <div class="card-header">
    Links
  </div>
  <div class="card-body">
      <ul>
        <li>Homepage: {{ page.meta.homepage }}</li>
        <li>Funding: {{ page.meta.funding }}</li>
  </div>
</div>

<!----
{% if page.publications and page.publications.size > 0 %}
<div class="card" style="margin-bottom: 1.5em;" id="publications">
  <div class="card-header">
    Publications
  </div>
  <div class="list-group list-group-flush">
    {% for p in page.publications %}
    <div class="list-group-item">
      <a href="{{p.id}}">{{p.title}}</a>
      {% if p.preferred %}
      <span class="badge">Preferred</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}--->

{% endblock %} }}


