{% extends "main.html" %}

{% block content %}
{{ super() }}


<div class="body-text">
    <b>Shortname:</b> {{ page.meta.shortname }}<br/>
    {{ result }}
</div>



<div class="card" style="margin-bottom: 1.5em;">
  <div class="card-header">
    <b>Links</b>
  </div>
  <div class="card-body">
      <ul>
        {% if page.meta.homepage %}
        <li><a href="{{ page.meta.homepage }}">Project Homepage</a></li>
        {% endif %}
        <li><a href="{{ page.meta.funding }}">Funding</a></li>
      </ul>
      <p>See FRINK's generated <a href="{{ page.meta.stats }}">graph summary.</a></p>
  </div>
</div>

<div class="card" style="margin-bottom: 1.5em;">
  <div class="card-header">
    <b>Work with the KG</b>
  </div>
  <div class="card-body">
      <ul>
        <li>SPARQL: <code>{{ page.meta.sparql }}</code></li>
        <li><a href="{{ page.meta.tpf }}">Triple Pattern Fragments</a></li>
  </div>
</div>

{% endblock %} }}


