{% extends "main.html" %}

{% block content %}
{{ super() }}

<div class="card" style="margin-bottom: 1.5em;">
    <div class="card-header">
      Shortname
    </div>
    <p class="card-text">{{ page.meta.shortname }}</p>
</div>

<p><b>Shortname:</b> {{ page.meta.shortname }}</p>
<p><b>Description:</b> {{ page.meta.description }}</p>

{% if page.meta.funding %}
<div class="card" style="margin-bottom: 1.5em;">
  <div class="card-header">
    Funding
  </div>
  <div class="list-group list-group-flush">
    {% for p in page.funded_by %}
    <div class="list-group-item">
      <a href="{{ p.id }}">{{ page.meta.funding }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}



{% endblock %} }}


